.loginContainer {
    width: 80vw;
    height: 100%;
    margin: 0 auto 0;
    border-radius: 3px;
    background: $blackColor;
    padding: 15px;
}

.login_side {
    padding: 10px;

    .__innerSide {
        display: flex;
        justify-content: center;
        align-content: center;
        text-align: center;

        p {
            font-size: 3em;
            text-transform: uppercase;
            letter-spacing: 3px;
        }
    }
}

.login_main_form {
    background: $rightHolder;
    color: $leftColorHolder;
}